{{#partial "content"}}

   <h1><center>Add your Team!</center></h1>
   <p></p>
   <p></p>

   <form action="/posts/new" method="post">
          <label for="teamName">New Team</label>
          <input id="teamName" name="teamName" type="text">
          <p></p>
          <p></p>
          <label for="teamDescription">Team Description</label>
          <input id="teamDescription" name="teamDescription" type="text">
          <p></p>
          <p></p>
          <label for="member1">member 1</label>
          <input id="member1" name="ember1" type="text">
          <p></p>
          <p></p>
          <label for="member2">member 2</label>
          <input id="member2" name="member2" type="text">
          <p></p>
          <p></p>
          <label for="member3">member 3</label>
          <input id="member3" name="member3" type="text">
          <p></p>
          <p></p>
          <label for="member4">member 4</label>
          <input id="member4" name="member4" type="text">
          <p></p>
          <p></p>
          <p></p>
       <button type="submit" class="btn btn-default">Add your team!</button>
   </form>
{{/partial}}

{{> layout.hbs}}
